/* common */
 
  html {
    /* redish */
   /*  --cloud-color: #f0cdcf;
    --nav-bg-color: #b58284;
    --darker-nav-color: #903329;
    --hover-color: #903329;
    --main-bg-color: #fae8d3; */

    /* blue lagoon */
    --cloud-color: #c4eff9;
    --nav-bg-color: #8ee4f5;
    --darker-nav-color: #358494;
    --hover-color: #d89bfb;
    --main-bg-color: #e2eaec;

  }
  
  body {
    font-family: 'Noto Sans', sans-serif;
    transition: background-color .3s;
  }
  
  
  p {
    line-height: 1.3;
  }
  
  .container {
    width: 96%;
    max-width: 70em;
    margin: 0 auto;
  }
  


  /* HEADER */

.header {
  background-color: var(--nav-bg-color)
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cloud {
  fill: var(--cloud-color);
  width: 15rem;
  padding: 1rem;
}

.header__logo {
  position: absolute;
  top: 0.2rem;
  left: 1.8rem;
}

.header__title {
  font-family: 'Chelsea Market', sans-serif;
  color: rgb(56, 56, 56);
  font-size: 2.5rem;

  width: 15rem;

  position: absolute;
  top: 4.2rem;
  left: 1.8rem;
}

.header__title a {
  color: inherit; /* inherit color from parent */
  text-decoration: none;
}

.header__title a:hover {
  color: inherit; /* keep the same color when hovered */
  cursor: pointer;
}


.header__subtitle {
  font-family: 'amatic sc', sans-serif;
  color: rgb(56, 56, 56);
  font-weight: 700;

  position: relative;
  margin-left: 7rem;
  font-size: 1.5rem;
  box-sizing: border-box; 
  overflow: visible; 
  visibility: inherit;
}

.burger-menu {
  display: block;
  font-size: 2rem;
  background-color: var(--darker-nav-color);
  border: solid 2px var(--cloud-color);
  border-radius: 0.4rem;
  margin-right: 1.2rem;
  color: var(--cloud-color);
  padding: 0.5rem;
}

.nav__list {
  list-style: none;
  display: none; /* Hide the menu by default */
  font-family: 'Amatic SC', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  
  border-radius: 0.4rem;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--cloud-color);

  position: absolute;
  top: 8.2rem;
  right: 0;
  width: 50%;

  border: solid 2px var(--nav-bg-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

}

.nav_element {
  position: relative;
}

.countries-list {
  display: none;
  position: relative;
  top: 100%;
  right: 0;
  z-index: 1000;
  width: 100%;
  text-align: end;
}

.country a{
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--darker-nav-color);
  padding: 0.5rem 1rem;
  display: block;
  
}


/* HEADER FOR DESKTOP */
@media (min-width: 769px) {
  
  /* titles & images */
  .header__cloud {
    fill: var(--cloud-color);
    width: 15rem;
    padding: 2rem;
  }
  
  .header__logo {
    position: absolute;
    top: 1.1rem;
    left: 2.8rem;
  }
  
  .header__title {
    font-family: 'Chelsea Market', sans-serif;
    color: rgb(56, 56, 56);
    font-size: 2.5rem;
  
    width: 15rem;
  
    position: absolute;
    top: 5.2rem;
    left: 2.8rem;
  }


  /* navigation */
  .burger-menu {
    display: none;
}


  .nav {
      display: flex;
      padding-left: 0;
      margin-top: auto;
      margin-bottom: 1.5rem;
  }

  .nav__list {
    list-style: none;
    display: flex;
    font-family: 'Amatic SC', sans-serif;
    
  }
  
  .nav__element {
    position: relative;
    font-size: 2.3rem;
    margin: 0 4.5rem;
  }
  
  /* add a line above each elements of the nav list */
  .nav__element::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 0.1rem; /* line height */
    background-color: #000;
  }

  .nav__element:hover::before {
    background-color: var(--hover-color); /* change the color of the line when hovered */
    height: 0.3rem;
  }

  li:hover {
    cursor: pointer;
    
  }

/* continent list */


.countries-list {
  display: none;
  position: absolute;
  top: 100%;  /* show the list under the parent */
  left: 50%;
  transform: translateX(-50%);
  width:max-content;
  background-color: var(--cloud-color); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  list-style: none;
  text-align: center;
  padding: 0.5rem 0;
}

.country {
  text-align: none;
  color: inherit;
  padding: 0.5rem;
  display: block;
  
}
  
}

/* MAIN */

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6rem; 
}

.article {
  flex: 0 1 calc(50% - 10px); /* 50% de la largeur moins 10px pour l'espacement */
  box-sizing: border-box;
  margin-bottom: 20px; /* Espacement entre les lignes */
}

.article img {
  width: 100%;
  height: auto;
}

/* MAIN FOR DESKTOP */


