/* common */


 
  html {
    /* redish */
   /*  --cloud-color: #f0cdcf;
    --nav-bg-color: #b58284;
    --darker-nav-color: #903329;
    --hover-color: #903329;
    --main-bg-color: #fae8d3; */

    /* blue lagoon */
    --cloud-color: #c4eff9;
    --nav-bg-color: #8ee4f5;
    --darker-nav-color: #358494;
    --hover-color: #d89bfb;
    /* --main-bg-color: #f9f4ed; */
    --main-bg-color: #fae8d3;

    --redish-button: #b58284;
    --blue-button: #8ee4f5;
    --green-button: #6C977D;
  }
  
  body {
    font-family: 'Noto Sans', sans-serif;
    transition: background-color .3s;
    background-color: var(--main-bg-color);
  }
  
  
  p {
    line-height: 1.3;
  }
  
  .container {
    width: 96%;
    max-width: 70em;
    margin: 0 auto;
  }
  


  /* HEADER */

.header {
  background-color: var(--nav-bg-color)
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cloud {
  fill: var(--cloud-color);
  width: 15rem;
  padding: 1rem;
}

.header__logo {
  position: absolute;
  top: 0.2rem;
  left: 1.8rem;
}

.header__title {
  font-family: 'Chelsea Market', sans-serif;
  color: rgb(56, 56, 56);
  font-size: 2.2rem;

  width: 15rem;

  position: absolute;
  top: 4.5rem;
  left: 2rem;
  line-height: 1.2;
}

.header__title a {
  color: inherit; /* inherit color from parent */
  text-decoration: none;
}

.header__title a:hover {
  color: inherit; /* keep the same color when hovered */
  cursor: pointer;
}


.header__subtitle {
  font-family: 'amatic sc', sans-serif;
  color: rgb(56, 56, 56);
  font-weight: 700;

  position: relative;
  margin-left: 8rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  overflow: visible;
  visibility: inherit;
}

.burger-menu {
  display: block;
  font-size: 2rem;
  background-color: var(--darker-nav-color);
  border: solid 2px var(--cloud-color);
  border-radius: 0.4rem;
  margin-right: 1.2rem;
  color: var(--cloud-color);
  padding: 0.5rem;
}

.nav__list {
  list-style: none;
  display: none; /* Hide the menu by default */
  font-family: 'Amatic SC', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  position: relative;

  border-radius: 0.4rem;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--cloud-color);

  position: absolute;
  top: 8.2rem;
  right: 0;
  width: 50%;

  border: solid 2px var(--nav-bg-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

}

.nav_element {
  position: relative;
}

.countries-list {
  display: none;
  position: relative;
  top: 100%;
  right: 0;
  z-index: 1000;
  width: 100%;
  text-align: end;
}

.country a{
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(122, 118, 118);
  padding: 0.5rem 1rem;
  display: block; 
}

.country a:hover {
  transform:scale(1.2);
}


/* FOR LANDSCAPE TABLET */
@media (min-width: 768px) {
  /* titles & images */
  .header__cloud {
    width: 13rem;
    padding: 0.8rem;
  }
    
  .header__logo {
    top: 0.1rem;
    left: 0.4rem;
  }

  .header__title {
    font-size: 1.9rem;

    width: 13rem;

    position: absolute;
    top: 4rem;
    left: 2rem;
  }

  .header__subtitle {
    font-size: 1rem;
    width: max-content;
  }

  /* NAV */
  .burger-menu {
    display: none;
  }

  .nav {
    display: flex;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: 1rem;

    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    font-family: 'Amatic SC', sans-serif;
  }

  .nav__element {
    position: relative;
    font-size: 2rem;
    justify-content: space-between;
    width: 100%;
    margin: 0 1.5rem;
  }

  /* add a line above each elements of the nav list */
  .nav__element::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 0.1rem; /* line height */
    background-color: black;
  }

  }



/* HEADER FOR DESKTOP */
@media (min-width: 1024px) {

  /* titles & images */
  .header__cloud {
    width: 15rem;
  }


  /* navigation */
  .burger-menu {
    display: none;
}


  .nav {
    display: flex;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: 1rem;

    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    font-family: 'Amatic SC', sans-serif;
  }
  
  .nav__element {
    position: relative;
    font-size: 2.5rem;
    justify-content: space-around;
    width: 100%;
    margin: 0 4rem;
  }
  
  /* add a line above each elements of the nav list */
  .nav__element::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 0.1rem; /* line height */
    background-color: black;
  }

  .nav__element:hover::before {
    background-color: var(--hover-color); /* change the color of the line when hovered */
    height: 0.3rem;
  }

  li:hover {
    cursor: pointer;
    
  }

  .continent {
    width: max-content;
    text-align: center;
  }

/* continent list */

.countries-list {
  display: none;
  position: absolute;
  top: 100%;  /* show the list under the parent */
  left: 50%;
  transform: translateX(-50%);
  width:max-content;
  background-color: white; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  list-style: none;
  text-align: center;
  padding: 0.5rem 0;
}

.country {
  text-align: none;
  color: inherit;
  padding: 0.5rem;
  display: block;
  
}
  
}

/* MAIN */

/*  SUBHEADER */

.subheader {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

/* COLOR CHANGE ZONE */
.color-change__container {
  display: flex;
  flex-direction: column;

}

.color-change__buttons {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  margin: 0.7rem;
}

.color-button {
  width: 2rem;
  height: 2rem;
  border: 0.3px solid black;
  border-radius: 50%;
}

.color-button:hover {
  transform: scale(1.5);
  cursor: pointer;
}

#color-change__redish {
  background-color: var(--redish-button);
}
#color-change__blue {
  background-color: var(--blue-button);
}
#color-change__green {
  background-color: var(--green-button);
}

/* REVIEWS LINK */

.reviews-link {
  font-size: 1.2rem;
  margin: 0 2rem;
  cursor: pointer;
  border-left: solid 1px black;
  padding-left: 2rem;
}



/* ARTICLES */

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem; 
}

.article {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: white;
  padding: 0.6rem;
}

.article img {
  width: 100%;
  height: 20rem;
}

.article__title {
  font-family: 'Amatic SC', sans-serif;
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
}

.article__description {
  margin-bottom: 3rem;
}


/* MAIN FOR DESKTOP */
@media (min-width: 769px) {


  /* COLOR CHANGE ZONE */
.color-change__buttons {
  width: 6rem;
}

  .color-button {
    width: 1rem;
    height: 1rem;
    border: 0.3px solid black;
    border-radius: 50%;
  }

  /* ARTICLES */
  .articles-container {
    padding: 1rem 6rem; 
  }

  .article {
    flex: 0 1 calc(50% - 10px); /* 50% of the width, minus 10px for the space */
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 2rem;
  }
}

/* REVIEWS */

.reviews__container {
  padding: 1rem;
  margin: 1rem auto;
  width: 70%;
  background-color: rgb(219, 214, 214);
}

.reviews__title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1rem;
  
}

.review {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid 1px black;
}

.review--hidden {
  display: none;
}

.review__title {
  font-weight: bold;
}

.review__stars {
  margin: 1rem 0;
  color: rgb(160, 110, 2);
  
}

.footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 4rem;
  padding: 1rem;
  background-color: var(--nav-bg-color);
  color: black;
}
